<!--ビュー：ページの「見た目」を作るためのファイル-->
<!-- 詳細画面 -->

<h2>タイトル</h2>

<p><%= @list.title %></p>

<h2>本文</h2>

<p><%= @list.body %></p>

<%= link_to "編集", edit_list_path(@list.id) %> <!--編集画面(edit.html.erb)に遷移するリンクを設定-->
